body { 
  font-family: sans-serif;
  margin: 0;
  border: 2px solid pink; 
  height: 100vh;
}
header { 
  border: 2px solid blue;
  height: 20%;
}
.container {
  display: flex;
  height: 60%;
}
header { 
  display: flex; 
  justify-content: space-between;
}
.logo {
  border-radius: 50%;
}
ul { 
  list-style: none;
}
nav > ul {
  display: flex;
}
li {
  margin: 1em;
}

main { 
  padding: 2em;
  height: 100%;
  width: 80%;
  border: 2px solid red; 
}
aside { 
  border: 2px solid green; 
  width: 20%;
  height: 100%;
}
footer { 
  border: 2px solid black; 
  height: 20%;
}
